<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XamlToolkitPlugin.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <XamlToolkitPlugin.AppSettings>
            <setting name="GitPath" serializeAs="String">
                <value>https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit.git</value>
            </setting>
            <setting name="ExePath" serializeAs="String">
                <value>\MaterialDesignInXamlToolkit\MainDemo.Wpf\bin\Debug\netcoreapp3.1\MaterialDesignDemo.exe</value>
            </setting>
            <setting name="SlnPath" serializeAs="String">
                <value>\MaterialDesignInXamlToolkit\MaterialDesignToolkit.Full.sln</value>
            </setting>
            <setting name="ConfigPath" serializeAs="String">
                <value>\..\..\directory.config</value>
            </setting>
        </XamlToolkitPlugin.AppSettings>
    </applicationSettings>
</configuration>